# Astro build output
dist/
.output/
.astro/

# Dependencies
node_modules/

# Environment
.env
.env.*
.dev.vars

# Editor
.vscode/*

# System
.DS_Store
Thumbs.db

# Package managers
bun.lockb
package-lock.json
yarn.lock
pnpm-lock.yaml