---
import Layout from "@layouts/Layout.astro";
import { site } from "@config/site";
---

<Layout
  title={site.name}
  description={site.description}
>
  <header>
    <section class="center">
      <h1 class="font-main text-center main-text">{site.name}</h1>
      <div class="max-w-3xl mx-auto">
        <p class="text-center text-pretty font-regular sm-text mt-2 muted-text pr">
          {site.description} Stop clickbait and protect yourself online - for free!
        </p>
      </div>
      <div>
        <div
          class="flex md:flex-row flex-col gap-5 sm:gap-10 mx-auto w-fit mt-10 select-none font-medium"
        >
          <a class="w-fit main-btn" draggable="false" href="./analyze"
            >Get started</a
          >
          <a class="w-fit sec-btn mx-auto" draggable="false" href="./source"
            >Source</a
          >
        </div>
      </div>
    </section>
  </header>
</Layout>
