---
const website = 'Axiom';
---

<footer class="main-bg py-5 px-10 border-top mt-auto">
  <p class="font-regular other-text">
    &copy; 2025 {website}. All
    
    rights reserved - <a
      class="muted-text transition-underline"
      href="/source">Source</a
    >
  </p>
</footer>
