---
import placeHolder from '@data/placeholder.json';
function getRandomItem(arr) {
  return arr[Math.floor(Math.random() * arr.length)];
}
const randomHolder = getRandomItem(placeHolder);
---

<form
  action="/result"
  enctype="application/x-www-form-urlencoded"
  class="flex flex-col
  justify-between sm:flex-row gap-5"
>
  <input
    class="link focus:outline-none bg-transparent px-5 py-2 w-2/4 max-w-3xl max-md:w-auto"
    required
    placeholder={randomHolder}
    type="url"
    name="url"
  />
  <button class="submit main-btn font-medium w-fit" type="submit">Analyze</button>
</form>
<script>
  import validator from 'validator';

  const warning = document.querySelector('.warning');
  const info = document.querySelector('.info');
  const linkInput = document.querySelector('.link');
  function validateForm(event) {
    event.preventDefault();

    const urlString = linkInput.value;

    switch (true) {
      case urlString === '':
        infoAlert();
        break;
      case !validator.isURL(urlString):
        warningAlert();
        break;
      default:
        document.querySelector('form').submit();
    }
  }

  function infoAlert() {
    info.classList.add('show-info');
    setTimeout(() => {
      info.classList.remove('show-info');
    }, 2000);
  }

  function warningAlert() {
    warning.classList.add('show-warning');
    setTimeout(() => {
      warning.classList.remove('show-warning');
    }, 2000);
  }

  document.querySelector('.submit').addEventListener('click', validateForm);
</script>
