---
import type { HTMLAttributes } from 'astro/types';
import placeHolder from '@data/placeholder.json';

interface Props extends HTMLAttributes<'form'> {
  placeholders?: string[];
}

function getRandomItem(arr: string[]): string {
  return arr[Math.floor(Math.random() * arr.length)];
}

const { placeholders = placeHolder, ...attrs } = Astro.props;
const randomHolder = getRandomItem(placeholders);
---

<form action="/result" method="get" class="flex flex-row" {...attrs}>
  <input
    type="url"
    name="url"
    class="px-5 py-2 main-bg c-border md:w-96 w-72 mr-2"
    placeholder="Enter a website URL"
    required
  />
  <button type="submit" class="px-5 py-2 c-border main-hover active:scale-95 transition-all">
    <img src="./assets/svg/search.svg" class="w-6" alt="search" />
  </button>
</form>

<script>
  import isURL from 'validator';

  const warning = document.querySelector('.warning');
  const info = document.querySelector('.info');
  const form = document.querySelector('form');
  const input = document.querySelector('input');

  if (form && input && warning && info) {
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      const url = input.value;

      if (!url) {
        info.classList.remove('opacity-0');
        setTimeout(() => {
          info.classList.add('opacity-0');
        }, 3000);
        return;
      }

      if (!isURL(url, { require_protocol: true, protocols: ['http', 'https'] })) {
        warning.classList.remove('opacity-0');
        setTimeout(() => {
          warning.classList.add('opacity-0');
        }, 3000);
        return;
      }

      form.submit();
    });
  }
</script>
